body{
  margin: 0;
  padding: 0;
  background-image: url('b3.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.row{
       position: relative;
      top: 140px;
    }
    .mode{
      position: relative;
      left: 27%;
      right: 40%;
      margin-right: 50px;
      margin-bottom: 40px;
      padding: 2px;
      padding-bottom: 3px;
      width:200px;
 }
 .icons{
   display: flex;
      justify-content:space-around;
      align-items: center;
 }
 ul{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 li{
  margin-right: 30px;
 }
 li:hover{

 }
 .mode .top_part{
  opacity: 0.5;
  max-width: 200px;
  transition: 1s;
  transform: translateY(60px);
  border: 1px solid black;
  border-radius: 10px;
  border-width: 0;
  background-color: #DEE3D7;
 }
 .mode .bottom_part{
  opacity: 0;
 max-width: 200px;
 transition: 1s;
 transform: translateY(-100px);
 border: 1px solid black;
  border-radius: 10px;
  border-width: 0;
 background-color: #CAD4BD;
 padding: 3px;
 }
 .mode:hover .bottom_part{
  transform: translateY(0px);
  opacity: 1;
 }
.mode:hover .top_part{
  opacity: 0.8;
  background-color: #ff0057;
  transform: translateY(0);
}
#comp{
 font-size: 13px;
}
 h1{
  font-weight: 500;
 }
 

